.notification {
  display: float;
  z-index: 130;
  height: auto;
  position: fixed;
  right: 60px;
  padding: 50px;
  top: 29px;
  width: 250px;
  background-color: aliceblue;
  border-radius: 10px;
}
