.navbar {
  width: 100%;
  height: 80px;
}

.navbarWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    to left,
    #8c908c,
    #777c7a,
    #646969,
    #535657,
    #424445,
    #393b3c,
    #313233,
    #292a2b,
    #262828,
    #242626,
    #222323,
    #202120
  );
}

.navbarLeft img {
  height: 80px;
  display: flex;
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* margin-left: auto; */
  padding-right: 20px;
}

.bell {
  color: white;
  font-size: 1.4rem;
  display: flex;
  cursor: pointer;
}

.navbarRight .image img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
}

.metamaskButton {
  background-color: rgb(51, 50, 50);
  padding: 13px;
  border-radius: 4rem;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 280px) and (max-width: 1080px) {
  .navbar {
    top: 0;
    position: sticky; 
  }
  .navbarWrapper {
    height: 100%;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 207, 207);
  }

  .metamaskButton {
    display: flex;
    padding: 10px;
  }
}
