.navbar {
  /* background-color: rgb(53, 51, 51); */
  background-color: gray;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

.navbarLeft {
  height: 80px;
  display: flex;
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
  padding-right: 20px;
}

.bell {
  color: white;
  font-size: 1.4rem;
  display: flex;
  cursor: pointer;
}

.navbarRight .image img {
  height: 45px;
  width: 50px;
  border-radius: 6rem;
  display: flex;
}

.metamaskButton {
  /* background-color: rgb(168, 97, 71); */
  background-color: rgb(51, 50, 50);
  padding: 13px;
  border-radius: 4rem;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 280px) and (max-width: 1080px ){
  .navbar{
    display:flex;
    padding: 1px;
    
  }

  .navbarRight .image img{
    display: flex;
  }

  .metamaskButton{
    display: flex;
    padding: 10px;
  }
}