.Sidebar {
  display: flex;
  background-color: rgb(41, 40, 40);
  flex: 1;
  height: calc(100vh - 80px);
  
}

.SidebarList {
  width: 100%;
  height: auto;
}

.SidebarList .row {
  width: 100%;
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  border: none;
}

.SidebarList .row:hover {
  cursor: pointer;
  transition: all 0.6s;
  background-color: rgb(122, 121, 121);
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
 #title {
  flex: 70%;
}

@media only screen and (min-width: 280px) and (max-width: 1080px) {
  .Sidebar {
    display: initial;
    height: 80px;
    background-color: rgb(41, 40, 40);
    top: 80px;
    position: sticky; 
  }
  .SidebarList {
  background-color: rgb(41, 40, 40);

    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 1px white solid;
  }


  .SidebarList .row:hover {
    cursor: pointer;
    background-color: rgb(99, 97, 97);
  }

  .row #icon {
    flex: 50%;
    display: grid;
    place-items: center;
  }

  .row #title {
    display: none;
  }
}
