@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.App {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
a {
  text-decoration: none;
  color: white;
}

.about,
.contact,
.home,
.donate,
.logout,
.setting {
  padding-top: 80px;
  padding-left: 240px;
  padding-bottom: 0px;
  padding-right: 0px;
  flex: 4;
  height: 100%;
  color: white;
  font-size: 1rem;
  background-color: rgb(53, 51, 51);
}

.login {
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.loginLeft {
  background-color: rgb(53, 51, 51);
  flex: 50%;
  position: relative;
  /* padding-top: 50%; */
  display: flex;
}

.loginRight {
  background-color: grey;
  flex: 50%;
  display: flex;
  position: relative;
}

.loginWrapper {
  /* justify-content: space-between; */
  text-align: center;
  /* height: 100%; */
  /* top: 40%; */
  /* position: fixed; */
  margin: auto;
  /* border: 1px solid white; */
  color: white;
}

.loginWrapper h1 {
  margin: 0 200px;
}
.loginWrapper img {
  height: 9rem;
  margin: auto;
  margin-right: 40px;
}

/* login card */
.loginCard {
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 400px;
  justify-content: center;
  margin: auto;
  gap: 3rem;
  border-radius: 20px;
  background-color: white;
}
.loginCard button {
  /* width: 50px; */
  padding: 5px 20px;
  background-color: rgb(53, 51, 51);
  border-radius: 10px;
  width: 30%;
  margin: auto;
  color: white;
  font-size: 16px;
}
.loginCard button:hover {
  background-color: black;
}
.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  color: black;
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}
.loginCard input {
  height: 2rem;
  border-radius: 5px;

  border: none;
  padding: 10px;
  font-size: 16px;
  color: aliceblue;
}
.loginCard input:focus {
  background-color: rgb(33, 143, 143);
}
input[type="email"],
textarea {
  background-color: rgb(104, 37, 37);
}
input[type="password"],
textarea {
  background-color: rgb(73, 72, 72);
}

.banner {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.bannerSubmit {
  background-color: black;
  color: white;
  padding: 10px;
}
/* for full screen edits */

@media only screen and (min-width: 280px) and (max-width: 1080px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .body {
    background-color: rgb(53, 51, 51);
  }
  .home {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .login {
    flex-direction: column;
  }
  .loginWrapper h1 {
    margin: auto;
  }
}
